@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --primary-600: hsl(243, 87%, 12%);
    --primary-500: hsl(238, 22%, 44%);

    --accent-400: hsl(224, 93%, 58%);
    --accent-300: hsl(170, 45%, 43%);

    --neutral-100: hsl(240, 75%, 98%);
    --neutral-200: hsl(0, 0%, 75%);

    --fw-primary-400: 400;
    --fw-primary-700: 700;

    --fw-secondary-400: 400;

    --ff-primary: 'Raleway', sans-serif;
    --ff-secondary: 'Open Sans', sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* Start styling */

header,main{
    max-width: 106rem;;
}
footer{
    max-width: 114rem;
}

/* Styling the header */
header{
    display: flex;
    justify-content: space-between;
    margin: 4rem;
}

.menu-container ul li {
    list-style: none;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-secondary-400);
    font-size: 1.1rem;
}
.menu-container ul li a {
    text-decoration: none;
}
.menu-container ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: min(3vw, 4rem);
}

/* Styling the main */

/* Top section */
main{
    margin: 4rem;
}

h1{
  font-size: 2.3rem;
  color:var(--primary-600)
}

.top-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0rem;
  margin-bottom: 10rem;
}

.first-title-container{
  font-family: var(--ff-primary);
  font-weight: var(--fw-primary-700);
  max-width: 37rem;
  margin: .5rem 0;
}

.left-top-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.first-paragraphe-container{
  max-width: 32rem;
  margin: .5rem 0;
}

.first-paragraphe-container p {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-primary-400);
  color: var(--primary-500);
}
form.form-top{
  display: flex;
  justify-content: flex-start;
}
form.form-top p{
  position: absolute;
}
.form-container{
  margin: 1rem 0;
}
.input-and-error-msg{
  width: 55%;
  margin-right: min(2%,.5rem);
}
.form-container input{
  border: 1ps solid var(--primary-500);
  padding: .3rem 1rem;
  width: 100%;
  margin-right: min(2%, .5rem);
  border-radius: .2rem;
}
.input-and-error-msg p{
  margin-top: .2rem;
  color: hsl(341, 48%, 67%);
  font-size: .8rem;
  font-family: var(--ff-secondary);
  font-weight: var(--fw-secondary-400);
}
.form-container input::placeholder{
  color: var(--neutral-200);
  font-size: .7rem;
  font-weight: var(--fw-secondary-400);
  font-family: var(--ff-secondary);
}
.form-container button{
  padding: .57rem;
  width: min(30%,11rem);
  background-color: var(--accent-400);
  border: none;
  border-radius: .2rem;
  color: var(--neutral-100);
  font-weight: var(--fw-secondary-400);
  font-family: var(--ff-secondary);
  font-size: .7rem;
}
.right-top-container{
  max-width: 37rem;
}
.right-top-container img, .right-bottom-container img{
  max-width: 100%;
  height: auto;
  width: auto\9; /* IE9 */
}
.bottom-section::before{
  content: "";
  background-image: url('./images/bg-curve-desktop.svg');
  background-size: min(114rem, 98.8vw) 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  top: -9rem;
  height: 10rem;
  width: min(114rem, 98.8vw);
}
.bottom-section {
  position: relative;
  background-color: hsl(240, 63%, 98%);
}
.bottom-section{
  display: grid;
  grid-template-columns: 1.1fr .9fr;
  margin-left: -4rem;
  margin-right: -4rem;
  margin-bottom: -4rem;
  padding-top: 4rem;
}
/* left bottom section */
.left-bottom-container {
  margin-left: 4rem;
  margin-bottom: 4rem;
}
.second-title-container{
  font-family: var(--ff-primary);
  font-weight: var(--fw-primary-700);
  margin: 1rem 0;
}
.second-paragraphe-container{
  max-width: 33rem;
}
.second-paragraphe-container p{
  font-family: var(--ff-secondary);
  font-weight: var(--fw-secondary-400);
  color: var(--primary-500);
  margin: 1rem 0;
}
/* Link Styling*/
.second-section-link-container{
  display: flex;
  align-items: center;
  width: fit-content;
  border-bottom: 1.5px solid var(--accent-300);
  text-decoration: none;
  margin-bottom: 3rem;
}
.second-section-link-container p{
  color: var(--accent-300);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-secondary-400);
  margin: 0 .4rem .1rem 0;
}
/* quote container card */
.review-quote-container-card{
  padding: 1.85rem 185rem;
  max-width: 22rem;
  box-shadow: 0 0 1.5rem 0rem hsl(238 22% 44% /.2);
  border-radius: .3rem;
  background-color:hsl(0, 0%, 100%);
}
.icon-quotes{
  width: 1.2rem;
  margin-bottom: .5rem;
}
.the-quote-text{
  font-family: var(--ff-secondary);
  font-weight: var(--fw-secondary-400);
  color: var(--primary-500);
  font-size: .9rem;
  margin: 0;
  font-size: .9rem;
  margin-bottom: 1rem;
}
.profile-text-container p{
  font-family: var(--ff-secondary);
  line-height: 1.1rem;
}
.job{
  color: var(--primary-500);
  font-weight: var(--fw-secondary-400);
  font-size: .6rem;
}
.name{
  color: var(--primary-600);
  font-weight: bolder;
  font-size: .8rem;
}

/* Bottom right section */
.right-bottom-container{
  padding: 2rem 4rem 2rem 2rem;
  max-width: 37rem;
}

/* Footer Styling*/

/* Footer top */
.top-footer-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--primary-500);
padding-top: 6rem;
padding-bottom: 4rem;
}

/* Footter top left*/
.left-top-footer-section{
  margin-left: 4rem;
  max-width: 31rem;
}
.left-top-footer-section h2{
  color: var(--neutral-100);
  font-family: var(--ff-primary);
  font-weight: var(--fw-primary-700);
  font-size: 1.9rem;
  margin-top: -.6rem;
  margin-bottom: .8rem;
}
.left-top-footer-section p {
  color: var(--neutral-200);
  font-family: var(--ff-secondary);
}
/* footer right top */
.right-top-footer-section{
  margin-right: 7rem;
}
.right-top-footer-section form{
  margin-left: calc(30% + 0vw);
}
.right-top-footer-section form input {
  width: 100%;
  border: 1px solid var(--primary-500);
  padding: .5rem 1rem;
  margin-right: min(2%, .5rem);
  border-radius: .2rem;
}
.right-top-footer-section form input ::placeholder{
  color: var(--neutral-200);
  font-size: .8rem;
  font-weight: var(--fw-secondary-400);
  font-family: var(--ff-secondary);
}
.error-msg-two {
  color: var(--neutral-200);
  font-size: .8rem;
  font-weight: var(--fw-secondary-400);
  font-family: var(--ff-secondary);
  margin-top: .2rem;
  margin-bottom: -.2rem;
}
.right-top-footer-section form button{
  padding: .67rem;
  width: 11rem;
  background-color: var(--accent-400);
  border: none;
  border-radius: .2rem;
  color: var(--neutral-100);
  font-weight: var(--fw-secondary-400);
  font-family: var(--ff-secondary);
  font-size: .7rem;
  margin-top: 1rem;
}

/* Footer bottom */
.bottom-footer-section{
  background-color: var(--primary-600);
  color: var(--neutral-200);
  font-family: var(--ff-secondary);
  padding: 6rem 4rem;
}

.bottom-footer-section-without-logo{
  display: grid;
  grid-template-columns: repeat(4,max-content);
  gap: 15%;
}
.bottom-list li{
  list-style: none;
  margin: 1rem 0;
}
.logo{
  margin: 1rem 0;
}
.bottom-list{
  list-style: none;
padding: 0;
margin: 0;
}
.bottom-list li a{
  text-decoration: none;
  color: var(--neutral-200);
  font-family: var(--ff-secondary);
}
.phone, .email{
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.footer-left-icons{
  margin-right: 1rem;
}
.social-networks{
  display: flex;
}
.social-icons{
  width: 30px;
  margin: 0 .4rem;
}
input[state="error"] {
  border: 2px solid hsl(341, 48%, 67%) !important;
}
@media (hover: hover){
  .second-submit:hover, .first-submit:hover{
          cursor: pointer;
          background-color: hsl(221, 100%, 71%);
  }
  .second-section-link-container:hover .see-how-fylo-works-link{
      color:hsl(170, 45%, 70%);

  }
  .bottom-list li:hover a {
      color: hsl(231, 39%, 60%);
  }
  .social-media-icons:hover{
      cursor: pointer;
  }
  .facebook:hover {
      content: url('./images/facebook-hover.svg');
  }
  .twitter:hover {
      content: url('./images/twitter-hover.svg');
  }
  .instagram:hover {
      content: url('./images/instagram-hover.svg');
  }

}
/* Second submit*/
.second-submit:active, .first-submit:active{
  cursor: pointer;
  background-color: hsl(221, 100%, 71%);
}
.second-section-link-container:active .see-how-fylo-works-link{
color:hsl(170, 45%, 70%);

}
.bottom-list li:active a {
color: hsl(231, 39%, 60%);
}
.social-media-icons:active{
cursor: pointer;
}
.facebook:active {
content: url('./images/facebook-hover.svg');
}
.twitter:active {
content: url('./images/twitter-hover.svg');
}
.instagram:active {
content: url('./images/instagram-hover.svg');
}